<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Primer prueba con el stack de meanjs
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/tareas" target="_blank">Mostrar Ordenes</a>

        <a class="btn btn-success btn-lg" href="/tareas/Crear" target="_blank">Crear Ordenes</a>
      </p>
    </div>
  </div>
  <div>
</section>
